examples/flows/simple flows.json
[
    {
        "id": "d9953f489075189d",
        "type": "tab",
        "label": "Simple Flows + Comment",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6d33030dc159a98",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "b702558709ec0482"
            ]
        ]
    },
    {
        "id": "505d00a57c5f2b54",
        "type": "comment",
        "z": "d9953f489075189d",
        "name": "Comment nodes should be ignored",
        "info": "",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "b702558709ec0482",
        "type": "function",
        "z": "d9953f489075189d",
        "name": "function",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "d232ff4190de6c45"
            ]
        ]
    },
    {
        "id": "d232ff4190de6c45",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "b5b909e15e1ac5fb",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "faec276151bf757e"
            ]
        ]
    },
    {
        "id": "faec276151bf757e",
        "type": "switch",
        "z": "d9953f489075189d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 290,
        "y": 1260,
        "wires": [
            [
                "d42746debaf845ac"
            ],
            [
                "eae437b70fb6dad4"
            ],
            [
                "9ed8c7e5a8b7ad37"
            ]
        ]
    },
    {
        "id": "d42746debaf845ac",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1220,
        "wires": []
    },
    {
        "id": "eae437b70fb6dad4",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "ouput 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1260,
        "wires": []
    },
    {
        "id": "9ed8c7e5a8b7ad37",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1300,
        "wires": []
    },
    {
        "id": "9895d6b3ce5d16bd",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "4ba4286605fbfab3"
            ]
        ]
    },
    {
        "id": "4ba4286605fbfab3",
        "type": "function",
        "z": "d9953f489075189d",
        "name": "function",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 220,
        "wires": [
            [
                "a067e84b80cce48e",
                "f9fac3a1e11e6362"
            ]
        ]
    },
    {
        "id": "a067e84b80cce48e",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "f9fac3a1e11e6362",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "d1cb28573f773fa0",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 1280,
        "wires": [
            [
                "faec276151bf757e"
            ]
        ]
    },
    {
        "id": "56bb27922cbf313d",
        "type": "function",
        "z": "d9953f489075189d",
        "name": "function",
        "func": "\nif (msg.payload === 1) return [msg, null];\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1380,
        "wires": [
            [
                "dff0ff4dee37a076"
            ],
            [
                "0f3b6f631ac38469"
            ]
        ]
    },
    {
        "id": "dff0ff4dee37a076",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0f3b6f631ac38469",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1400,
        "wires": []
    },
    {
        "id": "59576002a3111e3c",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "56bb27922cbf313d"
            ]
        ]
    },
    {
        "id": "78898244c2e0488c",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 1400,
        "wires": [
            [
                "56bb27922cbf313d"
            ]
        ]
    },
    {
        "id": "2bf231cd20bd3676",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "65f52b485af874ee"
            ]
        ]
    },
    {
        "id": "65f52b485af874ee",
        "type": "change",
        "z": "d9953f489075189d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "db98bfc5be764afb"
            ]
        ]
    },
    {
        "id": "db98bfc5be764afb",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "3cfeaca061ad7450",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "55",
        "payloadType": "num",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "69a706a75790a92a"
            ]
        ]
    },
    {
        "id": "69a706a75790a92a",
        "type": "range",
        "z": "d9953f489075189d",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "1",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "be24755fe7cd4df6"
            ]
        ]
    },
    {
        "id": "be24755fe7cd4df6",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "b7be4522bdd1152b",
        "type": "template",
        "z": "d9953f489075189d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "4d29bbb01e1f5821"
            ]
        ]
    },
    {
        "id": "4d29bbb01e1f5821",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 480,
        "wires": []
    },
    {
        "id": "af16033e6249d056",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "b7be4522bdd1152b"
            ]
        ]
    },
    {
        "id": "a3d7e4760623c097",
        "type": "delay",
        "z": "d9953f489075189d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "30646773f052751f"
            ]
        ]
    },
    {
        "id": "35650fab89372f15",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "a3d7e4760623c097"
            ]
        ]
    },
    {
        "id": "30646773f052751f",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 540,
        "wires": []
    },
    {
        "id": "5671584cb4531349",
        "type": "exec",
        "z": "d9953f489075189d",
        "command": "ping -c 1 8.8.8.8",
        "addpay": "",
        "append": "-xc",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "56ab17b9b416b258"
            ],
            [
                "56ab17b9b416b258"
            ],
            [
                "56ab17b9b416b258"
            ]
        ]
    },
    {
        "id": "eb05d5bbb9ea801d",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "5671584cb4531349"
            ]
        ]
    },
    {
        "id": "56ab17b9b416b258",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 600,
        "wires": []
    },
    {
        "id": "f255b9865fda5ee0",
        "type": "trigger",
        "z": "d9953f489075189d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 300,
        "y": 1460,
        "wires": [
            [
                "06d5590e7b6a7d04"
            ]
        ]
    },
    {
        "id": "f827fa20e84bbe1e",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1460,
        "wires": [
            [
                "f255b9865fda5ee0"
            ]
        ]
    },
    {
        "id": "06d5590e7b6a7d04",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1460,
        "wires": []
    },
    {
        "id": "800c800de2877561",
        "type": "rbe",
        "z": "d9953f489075189d",
        "name": "filter",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 290,
        "y": 1520,
        "wires": [
            [
                "73277becb4e7d5c8"
            ]
        ]
    },
    {
        "id": "951555ff2a0212bd",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 1520,
        "wires": [
            [
                "800c800de2877561"
            ]
        ]
    },
    {
        "id": "73277becb4e7d5c8",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1520,
        "wires": []
    },
    {
        "id": "27d36f0f7876154e",
        "type": "split",
        "z": "d9953f489075189d",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 290,
        "y": 720,
        "wires": [
            [
                "7ec62f474d516c35"
            ]
        ]
    },
    {
        "id": "147a0f9da5e7626c",
        "type": "join",
        "z": "d9953f489075189d",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 780,
        "wires": [
            [
                "f3de243eb16c5729"
            ]
        ]
    },
    {
        "id": "171721baebbe5bcd",
        "type": "sort",
        "z": "d9953f489075189d",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 290,
        "y": 840,
        "wires": [
            [
                "d39fba51506e18bc"
            ]
        ]
    },
    {
        "id": "f30caf5f77841942",
        "type": "batch",
        "z": "d9953f489075189d",
        "name": "",
        "mode": "count",
        "count": "5",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "honourParts": false,
        "topics": [],
        "x": 300,
        "y": 660,
        "wires": [
            [
                "4ef7030c8a1e6d7f"
            ]
        ]
    },
    {
        "id": "4ef7030c8a1e6d7f",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 660,
        "wires": []
    },
    {
        "id": "e36c377fa5122221",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "f30caf5f77841942"
            ]
        ]
    },
    {
        "id": "804817ceace6ec7d",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World!",
        "payloadType": "str",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "27d36f0f7876154e"
            ]
        ]
    },
    {
        "id": "7ec62f474d516c35",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 720,
        "wires": []
    },
    {
        "id": "f3de243eb16c5729",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 780,
        "wires": []
    },
    {
        "id": "40c90c53ebf75d29",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[4, 3, 2, 1]",
        "payloadType": "json",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "171721baebbe5bcd"
            ]
        ]
    },
    {
        "id": "d39fba51506e18bc",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 840,
        "wires": []
    },
    {
        "id": "179179b9e171d608",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World!",
        "payloadType": "str",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "0aae7666a4d14936"
            ]
        ]
    },
    {
        "id": "0aae7666a4d14936",
        "type": "split",
        "z": "d9953f489075189d",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 290,
        "y": 780,
        "wires": [
            [
                "147a0f9da5e7626c"
            ]
        ]
    },
    {
        "id": "b4361f153f111fc9",
        "type": "link in",
        "z": "d9953f489075189d",
        "name": "link in 2",
        "links": [
            "c04c6c1de12919e7"
        ],
        "x": 95,
        "y": 960,
        "wires": [
            [
                "764e6b8a7567784d"
            ]
        ]
    },
    {
        "id": "7311f37a7ba58d97",
        "type": "link call",
        "z": "d9953f489075189d",
        "name": "",
        "links": [
            "7a8fd3f24cd7b416"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 300,
        "y": 1020,
        "wires": [
            [
                "7fc637acf760055d"
            ]
        ]
    },
    {
        "id": "c04c6c1de12919e7",
        "type": "link out",
        "z": "d9953f489075189d",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "b4361f153f111fc9"
        ],
        "x": 575,
        "y": 900,
        "wires": []
    },
    {
        "id": "f3b5be3282919d02",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "c04c6c1de12919e7"
            ]
        ]
    },
    {
        "id": "764e6b8a7567784d",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 960,
        "wires": []
    },
    {
        "id": "7a8fd3f24cd7b416",
        "type": "link in",
        "z": "d9953f489075189d",
        "name": "link in 3",
        "links": [],
        "x": 95,
        "y": 1080,
        "wires": [
            [
                "54ee1a7c542a5079"
            ]
        ]
    },
    {
        "id": "0587c2b29e573b63",
        "type": "inject",
        "z": "d9953f489075189d",
        "name": "input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "7311f37a7ba58d97"
            ]
        ]
    },
    {
        "id": "7fc637acf760055d",
        "type": "debug",
        "z": "d9953f489075189d",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "54ee1a7c542a5079",
        "type": "change",
        "z": "d9953f489075189d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Link Call!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1080,
        "wires": [
            [
                "24735f5a67776468"
            ]
        ]
    },
    {
        "id": "24735f5a67776468",
        "type": "link out",
        "z": "d9953f489075189d",
        "name": "link out 2",
        "mode": "return",
        "links": [],
        "x": 575,
        "y": 1080,
        "wires": []
    }
]