test-flow.json
[
    {
        "id": "inject1",
        "type": "inject",
        "name": "Start Flow",
        "wires": [["function1", "function2"]]
    },
    {
        "id": "function1",
        "type": "function",
        "name": "Process Data",
        "func": "msg.payload = msg.payload * 2;\nreturn msg;",
        "wires": [["debug1", "function3"]]
    },
    {
        "id": "function2",
        "type": "function",
        "name": "Filter Data",
        "func": "if (msg.payload > 10) {\n    return msg;\n}\nreturn null;",
        "wires": [["function3"]]
    },
    {
        "id": "function3",
        "type": "function",
        "name": "Complex Logic",
        "func": "// Complex processing\nlet result = 0;\nfor (let i = 0; i < 100; i++) {\n    result += i;\n}\nmsg.payload = result;\nreturn msg;",
        "wires": [["debug1", "debug2", "mqtt1"]]
    },
    {
        "id": "debug1",
        "type": "debug",
        "name": "Debug Output 1",
        "wires": []
    },
    {
        "id": "debug2",
        "type": "debug",
        "name": "Debug Output 2",
        "wires": []
    },
    {
        "id": "mqtt1",
        "type": "mqtt out",
        "name": "MQTT Publisher",
        "broker": "mqtt-broker1",
        "wires": []
    },
    {
        "id": "mqtt-broker1",
        "type": "mqtt-broker",
        "name": "MQTT Broker Config"
    }
]
